<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<!-- Copyright (c) 2002 by ObjectLearn. All Rights Reserved. 
Web.xml for EjemploStruts -->
<web-app>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		
		<!--clase base para internacionalizar -->
		<!--  <init-param>
			<param-name>application</param-name>
			<param-value>/ZaraCDWeb.properties</param-value>
		</init-param>-->
	 
		<!--path en donde se encuentra el archivo de configuracion de strut -->
		<init-param>
		 <param-name>config</param-name>
		 <param-value>/struts-config.xml</param-value>
		</init-param>
		
		<!--nivel de detalle de debugging para este servlet -->
		<init-param>
			 <param-name>debug</param-name>
			 <param-value>2</param-value>
		</init-param>
  		
  		<load-on-startup>2</load-on-startup>
 	</servlet>
 
	<servlet>
		<servlet-name>cargarpeliculas</servlet-name>
		<servlet-class>servlets.CargarPeliculasServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>cargardata</servlet-name>
		<servlet-class>servlets.CargarDataServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>cargargeneros</servlet-name>
		<servlet-class>servlets.CargarGenerosServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>cargaridiomas</servlet-name>
		<servlet-class>servlets.CargarIdiomasServlet</servlet-class>
	</servlet>
	 
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	 
	 <servlet-mapping>
		<servlet-name>cargardata</servlet-name>
		<url-pattern>/cargardata</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>cargaridiomas</servlet-name>
		<url-pattern>/cargaridiomas</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>cargargeneros</servlet-name>
		<url-pattern>/cargargeneros</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>cargarpeliculas</servlet-name>
		<url-pattern>/cargarpeliculas</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<error-page>
		<error-code>404</error-code>
		<location>/error.jsp</location>
	</error-page>
	
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>

</web-app>
